@import '../../00-base/00-defaults/01-variables';
.icon-wrapper{
    font-size: 1.1rem;
    line-height: 1.5;
    color: $bg-color;
    font-family: $font-inria;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;

}