@import '../../00-base/00-defaults/01-variables';
.feature-img {
  overflow: hidden;
  height: 200px;
  img {
    height: 100%;
    width: 100%;
  }
}
.feature-text {
  padding: 1rem;
  border: 1px solid #efefef;
  font-size: 1.1rem;
  line-height: 1.5;
  color: $bg-color;
  h5 {
    color: $bg-color;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: $font-inria;
  }
  .price{
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: $font-inria;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}
