<div class ='mypage'>
  {% include '@organisms/menuorg/menuorg.twig' %}
  {% include '@organisms/herosection/herosection.twig' %}
  {% include '@organisms/bannercategory/banner.twig' %}
  {% include '@organisms/iconorg/iconorg.twig' %}
  {% include '@organisms/videosection/videosection.twig' %}
  {% include '@organisms/featureorg/featureorg.twig' %}
  {% include '@organisms/revieworg/revieworg.twig' %}
 </div>