span {
  i {
    color: #103178;
    font-size: 1.5rem !important;
  }
}

span.icon--alt {
  display: block;
  margin-bottom: 2rem;
  padding: 0 !important;
  i {
    font-size: 3rem !important;
    color: #103178;
  }
}
span.icon--yellow {
  i {
    color: #ffc800;
    font-size: 1rem;
  }
}
