@import '../../00-base/00-defaults/01-variables';
.btn {
  a {
    display: inline-block;
    text-decoration: none;
    border-radius: 100px;
    font-size: 1.1rem;
    line-height: 1.5;
    background: white;
    transition: all 0.3s;
    color: $bg-color;
    border-color: white;
    padding: 0.2rem 1rem;
    font-family: $font-inria;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: $bg-color;
      color: white;
    }
  }
  .link--secondary {
    background-color: #ffc800;
    border-color: #ffc800;
    color: #ffffff;
    padding: 0.8rem 3rem;
    border: 2px solid #ffc800;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #ffffff;
      color: #ffc800;
    }
  }
}
