<div {{ bem('f-50 herotext') }}>
  {% include '@atoms/text/headings/_heading.twig' with {
    heading_level: 2,
    heading: hero_heading
  } %}
  {% include '@atoms/text/text/01-paragraph.twig' with {
    paragraph_content: hero_para
  } %}
  <div {{ bem('wrapper pb-2 jc-center') }}>
  {% if newprice %}
    <div {{ bem('new-price') }}>
      {% include '@atoms/text/text/01-paragraph.twig' with {
        paragraph_content: newprice
      } %}
    </div>
    {% endif %}
    {% if oldprice %}
    <div {{ bem('old-price') }}>
      {% include '@atoms/text/text/01-paragraph.twig' with {
        paragraph_content: oldprice
      } %}
    </div>
    {% endif %}
  </div>
  {% include '@atoms/custombutton/custombutton.twig' with {
    atom_cta_content: 'Show now'
  } %}
</div>
